@mixin animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@mixin animatedSlow {
  animation-duration: 3s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.fadeIn {
  @include animated;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeInSlow {
  @include animatedSlow;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
