@import "./fonts";
@import "./animations";

//--breakpoints--//

$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 480px;

//--mixins--//
@mixin border-box {
  box-sizing: border-box;
}
